{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "react-html-attrs",
    "transform-decorators-legacy",
    "transform-react-constant-elements",
    "transform-object-rest-spread",
    "syntax-object-rest-spread",
    "array-includes",
    "syntax-async-functions",
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}
